.contentTitleSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: var(--green-900);

  margin: 2rem 0;

  h1 {
    font-size: 2.18rem;
    width: 22rem;
    text-align: center;
  }

  .lineSideTitle {
    width: 72%;
    height: 0.1rem;
    
    margin: 0 1rem;

    background-color: var(--green-900);
  }
}

@media only screen and (max-width: 768px) {
  .contentTitleSection {
    h1 {
      font-size: 3rem;
    }

    .lineSideTitle {
      width: 31%;
    }
  }

}