.container {
  display: flex;
  flex-direction: row;
  gap: 3rem;

  .sideBar {
    display: block;

    width: 104rem;
    height: 100%;

    img {
      position: fixed;
    }
  }

  .content {
    width: 68.5rem;

    .campaignArea {
      display: flex;
      flex-direction: row;
      align-items: center;

      .textTitleCampaign {
        text-align: center;

        h1 {
          font-family: "Poppins", sans-serif;
          font-size: 6rem;
          font-weight: 700;
          color: var(--green-900);
        }

        h3 {
          font-family: "Roboto", sans-serif;
          font-size: 3rem;
          font-weight: 300;
          color: var(--green-500);
        }
      }
    }

    .goalCampaign {

    }

    .historySchool {
      .leftSide {

      }

      .rightSide {

      }

    }

    .depoSection {

    }

    .helpSection {

    }

    .footer {

    }

  }
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
